.list {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0 5px;
  padding: 6px 8px;
  width: 272px;
}

.list__label {
  color: grey;
  font-weight: normal;
  font-size: 16px;
}