.add-item__placeholder {
  padding: 6px 8px;
  background-color: azure;
  height: fit-content;
}

#add-item__form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 6px 8px;
}

#add-item__form:hover {
  background-color: rgba(160, 160, 160, 0.226)  ;
}

.add-item__input {
  padding: 6px 8px;
  outline: none;
}

.add-list__actions-wrapper{
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.add-item__submit-button {
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
}

.add-item__cancel-button {
  font-size: 20px;
  font-weight: bold;
  margin: 0 40px;
  padding: 6px 12px;
  cursor: pointer;
}